version: '3.7'

services:
  dolfin-signing:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DB_HOST: db
    container_name: 'dolfin-signing'
    hostname: 'dolfin-signing'
    restart: 'always' #on-failure
    expose:
      - '8080'
    #ports:
    #  - '8080:8080'
    networks: # Networks to join (Services on the same network can communicate with each other using their name)
      - api_network
      - postgres_network
networks:
  postgres_network:
    external: true
  api_network:
    external: true